/node_modules
/src/node_modules/
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
/public/dist
/public/build
/public/mix-manifest.json
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpunit.dusk.xml
*.code-workspace
.idea/

